The store sells movies and lets the user rent/return them.
The store starts by adding movies to its collection.
A movie is described by its name, format, and rating.

               Test Cases
----------------------------------------
- adding a movie
    - Movie has all values after added
- selling a movie
    - Movie is removed after being sold
    - Exception if movie is not on list or rented
- renting a movie
    - Movie can rented and movie is put out of stock
- returning a movie
    - Movie is added back into stock
